{% extends 'basepopup.html' %}
{% block headpop%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>
<link href="https://www.dafontfree.net/embed/bXlhbm1hci1raHlheS1yZWd1bGFyJmRhdGEvNDI2L20vMTc5NzQ5L0toeWF5LVJlZ3VsYXIudHRm" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block contentpop %}
    <div class="dash_container">
        <div class="dash_col_one">
            <div class="bot">
                <div class="now playing" id="music">
                    <span class="bar n1">A</span>
                    <span class="bar n2">B</span>
                    <span class="bar n3">c</span>
                    <span class="bar n4">D</span>
                    <span class="bar n5">E</span>
                    <span class="bar n6">F</span>
                    <span class="bar n7">G</span>
                    <span class="bar n8">H</span>
                  </div>
                <button class="listening_button" onclick="bot_listen(this)">
                    <img src="{{url_for('static',filename='images/botpop.png')}}" alt="" class="bot_img">
                </button>
                <div class="bot_mouth"></div>
            </div>
            <p class="bot_intro">Greetings,<br/>
                how may I help<br/>you?</p>
            <div class="bot_input">
                <input type = "text" name = "dash_input" placeholder="Input Text or select REMIE to speak.">
            </div>
        </div>
    </div>
{% endblock %}
