{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}"/>
{% endblock %}
{% block content %}
  <div class="log_container">
    <img src="{{url_for('static',filename='images/arm.png')}}" alt="arm" class="log_img_one">
    <div class="login_box">
        <p class="log_top">Login</p>
        <input id='inputs' class="log_input" type="email" name = "email_input" placeholder="Enter Email"/>
        <input class="log_input" type = "password" name = "password_input" placeholder="Enter Password"/>
        <button class="login_btn" onclick="openPopup()">Login</button>
        <button class="register_btn" onclick="goToRegister()">Register</button>

    </div>
    <img src="{{url_for('static',filename='images/search.png')}}" alt="search" class="log_img_two">
  </div>
{% endblock %}
