{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}"/>
{% endblock %}
{% block content %}
  <div class="reg_container">
    <img src="{{url_for('static',filename='images/arm.png')}}" alt="arm" class="reg_img_one">
    <div class="reg_box">
        <p class="reg_top">Register</p>
        <input id='inputs' class="reg_input" type="text" name = "name_input" placeholder="Enter Name"/>
        <input id='inputs' class="reg_input" type="email" name = "email_input" placeholder="Enter Email"/>
        <input id='inputs' class="reg_input" type="text" name = "location_input" placeholder="Enter Location"/>
        <input id='inputs' class="reg_input" type="email" name = "email_input" placeholder="Enter Email"/>
        <input id='inputs' class="reg_input" type = "password" name = "password_input" placeholder="Enter Password"/>
        <input id='inputs' class="reg_input" type = "password" name = "conf_password_input" placeholder="Confirm Password"/>
        <button id='inputs' class="register_btn" onclick="goToLogin()">Register</button>
        <button id='inputs' class="login_btn" onclick="goToLogin()">login</button>

    </div>
    <img src="{{url_for('static',filename='images/search.png')}}" alt="search" class="reg_img_two">
  </div>
{% endblock %}
