Flask==2.3.2
Flask_Bcrypt==1.0.1
Flask_Login==0.6.2
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.1.1
google_api_python_client==2.95.0
google_auth_oauthlib==1.0.0
langchain==0.0.245
openai==0.27.8
protobuf==4.23.4
pydantic==1.10.12
spotipy==2.23.0
WTForms==3.0.1
