@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .welc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .welc_container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    opacity: 0;
    color: var(--blue_one);
  }

.flip_container p{
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .flip_container {
    color: #979a9b;
    font-family:'Roboto';
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 130px;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  .animation div{
    align-items: start !important;
    justify-content: start !important;
    width: max-content;
  }
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
    color:#fff;

  }
  
  .first div {
    background-color:#20a7d8;

  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;

  }
  

  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .slide-left {
    opacity: 0;
    animation: slideLeft 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  a {
    all: unset;
}

  .bounce button{
    display: inline-block;
    padding: 12px 20px;
    margin-top: 30px;
    background-color: var(--blue_one);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    opacity: 1;
    animation: bounce 1s 1s forwards;
  

  }
  .bounce button:focus{
    outline: none;
  }
  .bounce button:hover{
    background-color: #f0f0f0;
    color:var(--blue_one);
    border: 2px solid var(--blue_one) !important;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  