body {
    overflow-x: hidden;
    background-color: #f0f0f0;
}
.reg_container {
    display: flex;
    flex-direction: row;
    width: max-content;

}

.reg_box {
    display: flex;
    flex-direction: column;
        /* justify-content: center; */
    align-items: center;
    margin-top: -40px;
    margin-left: 100px;
    transform: scale(0.75);
    /* margin-left: 200px; */
    width: 613.5px;
    height: 820px;
    border-radius: 15.337px;
    background: #FFF;
    box-shadow: 0px 6.134999752044678px 6.134999752044678px 0px rgba(0, 0, 0, 0.25);
}
.reg_col{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.logbutdiv{
    position: absolute;
    margin-left: 335px;
    margin-top: 440px;
    transform-origin: left center;
    transform: scale(0.9);
    font-family: 'myanmar-khyay-regular', sans-serif;

    font-size: 12px;
font-style: normal;
font-weight: 500;
}
.reg_img_one {
    width: 208px;
    height: 208px;
    margin-top: 500px;
}

.reg_img_two {

    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-left: 45px;
}
#inputs{
    margin-top: 20px;
}
.reg_input {
    display: flex;
    width: 539.88px;
    height: 61.35px;
    border-radius: 17.197px;
    border: 2px solid var(--blue_one);
    background: #fff;
    align-items: center;
    margin-top: 50px;
    font-family: 'myanmar-khyay-regular', sans-serif;

    font-size: 23.006px;
font-style: normal;
font-weight: 500;
color:var(--blue_one);
padding-left: 25px;

}

.reg_input input {
    border: none;
    outline: none;

}

.reg_input ::placeholder {
    color: rgba(0, 0, 0, 0.70);
}
.reg_top{
    color: var(--blue_one);
font-family: 'myanmar-khyay-regular', sans-serif;
font-size: 67.485px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 25px;
}
.login_btn{
    display: flex;
    width: 164px;
    height: 40.732px;
    padding: 10.719px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.719px;
    border-radius: 21.438px;
    border: 1px solid #fff;
    color: #FFF;
    background: var(--blue_one);
    margin-top: 10px;
}
.login_btn:focus{
    outline: none;
}
.login_btn:hover{
    color:var(--blue_one);
    border: 1px solid var(--blue_one);
    background: #FFF;
}
.register_btn:hover{
    color:var(--blue_one);
    border: 1px solid var(--blue_one);
    background: #FFF;
}
.register_btn {
    display: flex;
    width: 234.664px;
    height: 48.283px;
    padding: 15.337px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#FFF;
    border: 1px solid var(--blue_one);
    border-radius: 30.675px;
    background: var(--blue_one);
    margin-top: 40px;
}
.register_btn:focus{
    outline: none;
}