.convo_contain {
    display: flex;
    flex-direction: column;
    position: relative;
    width:100%;
    padding: 10px;
    height:700px;
    /* border: solid 5px #000; */
}
#convoact{
    color: #153243 !important;
    background: var(--secondary_shade);
  }
  #convoact:hover{
    border:2px solid white;
    }
  #convoact a{
    color: #153243 !important;
    background: var(--secondary_shade);
  }
.convo_card{
    width: 420px;
    height: max-content;
    overflow-y: auto;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.convo_text{
    color: var(--blue_one);
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.you_ask{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
    width: 100%;
height: fit-content;
padding:5px;


}
.y_text{
    color: #153243;
    font-family: 'myanmar-khyay-regular', sans-serif;
font-size: 15.227px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
padding-left: 10px;

margin-bottom: 0;
}
.y_text_output{
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 15.227px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 19px;
    margin-bottom: 0;
    height:fit-content;
    word-wrap: break-word;
    overflow-x: hidden;


}
.response_remie{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--blue_one);
    width: 100%;
height: max-content;
padding:5px;
}
.r_text{
    color: #fff;
    font-family: 'myanmar-khyay-regular', sans-serif;
font-size: 15.227px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
padding-left: 10px;

margin-bottom: 0;
}
.r_text_output{
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 15.227px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 4px;
    margin-bottom: 0;
    color: #fff;
    height:fit-content;
    word-wrap: break-word;
    overflow-x: hidden;
}