body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .welc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .welc_container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    opacity: 0;
    color: var(--blue_one);
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .slide-left {
    opacity: 0;
    animation: slideLeft 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  a {
    all: unset;
}

  .bounce button{
    display: inline-block;
    padding: 12px 20px;
    margin-top: 30px;
    background-color: var(--blue_one);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    opacity: 1;
    animation: bounce 1s 1s forwards;
  

  }
  .bounce button:focus{
    outline: none;
  }
  .bounce button:hover{
    background-color: #f0f0f0;
    color:var(--blue_one);
    border: 2px solid var(--blue_one) !important;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  