@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #f0f0f0;

}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: var(--blue_one);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 137px;
    align-items: stretch;
    /* position: absolute; */
    height: max-content;
}

#sidebar {
width:260px;
    height:100vh;
    background: var(--blue_two);
    color: #fff;
    transition: all 0.3s;
}


.sidebar-header {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    background: var(--blue_two);
    width:200px;
}

.sidebar-header img {
    width: 90%;
 
    /* margin-left: auto;
    margin-right:auto ; */
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--secondary_shade) !important;
    background: var(--blue_two);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--blue_two) !important;
    background: var(--secondary_shade);

}





ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


.contain {
    /* position: absolute; */
    height: max-content;
    width:100%;
    /* border: 5px solid #6d7fcc; */
}
.row_pop{
    display: flex;
    flex-direction: row;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/* @media (max-width: 768px) {
   
} */