{% extends 'basepopup.html' %}
{% block headpop %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>
{% endblock %}
{% block contentpop %}
<div class="dash_container">
    <div class="dash_col_one">
        <div class="bot">
            <div class="now playing" id="music">
                <span class="bar n1">A</span>
                <span class="bar n2">B</span>
                <span class="bar n3">c</span>
                <span class="bar n4">D</span>
                <span class="bar n5">E</span>
                <span class="bar n6">F</span>
                <span class="bar n7">G</span>
                <span class="bar n8">H</span>
            </div>
            <button id="remieClick" class="listening_button">
                <img src="{{url_for('static',filename='images/botpop.png')}}" alt="" class="bot_img">
            </button>
            <div class="bot_mouth"></div>
        </div>
        <p class="bot_intro">Greetings,<br/>
            how may I help<br/>you?</p>
        <div class="bot_input">
            <input type="text" name="dash_input" placeholder="Input Text or select REMIE to speak.">
            <button class="click_button" onclick="bot_response()"> 
                Click Me!
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block jsScripts %}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("remieClick");
        const main = document.getElementsByTagName("main")[0];
        let arr =[]
        let listening = false;


        const SpeechRecognition =
          window.SpeechRecognition || window.webkitSpeechRecognition;
        if (typeof SpeechRecognition !== "undefined") {
          const recognition = new SpeechRecognition();

          const stop = () => {
            //main.classList.remove("speaking"); FIX CSS LATER
            recognition.stop();
            // send ajax request of arr to server to be processed by chatgpt
            sendrequest(arr.join(""))
            // reset the text array that we used to track our speech
            arr = []
            //button.textContent = "Start listening";
            //var player = document.getElementById("music");
            //player.classList.toggle("paused");
          //  $(document).ready(function () {
          //      $('.bot_mouth').css('animation-name', 'mouthtalk');
          //    });
          };

          const start = () => {
           // main.classList.add("speaking");
            recognition.start();
            //button.textContent = "Stop listening";
            //$(document).ready(function () {
                //$('.bot_mouth').css('animation-name', 'none');
            // });
          };

          const onResult = event => {
            for (const res of event.results) {
              let s = ""
              
              if (res.isFinal) {
                // we only track speech to text when speech is finalized   
                s=res[0].transcript
                arr.push(s)
              }
            }
          };
          recognition.continuous = true;
          recognition.interimResults = true;
          recognition.addEventListener("result", onResult);
          button.addEventListener("click", event => {
            listening ? stop() : start();
            listening = !listening;
          });
        } else {
          button.remove();
          const message = document.getElementById("message");
          message.removeAttribute("hidden");
          message.setAttribute("aria-hidden", "false");
        }

        function sendrequest (text_message){
            // Create form structure to populate and send to API
            let formData = new FormData();

            // Populate form
            formData.append("text_message", text_message);

            // Documentation: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
            // Async fetch POST request to API
            fetch("/api", {
            method: "POST",
            body: formData
            })
            .then(function(response) {
                // This right here is the response we will receive before we convert
                // it over to readable JSON
                console.log("Response turning to readable JSON", response);
                return response.json();
            })
            .then(function(response) {
                // Don't worry if this says "false", it just returns that when the user already exists from flasks end
                // Once it reaches here, the async is already successful
                console.log("Successful async: ", JSON.stringify(response));

                // REF: https://www.educative.io/answers/how-to-convert-text-to-speech-in-javascript
                if ('speechSynthesis' in window) {
                // Speech Synthesis is supported 🎉
                let utterance = new SpeechSynthesisUtterance(response);
                speechSynthesis.speak(utterance);
                }else{
                // Speech Synthesis is not Supported 😞 
                console.log("speech synthesis isn't supported")
                }

            })
            .catch(function(error) {
                console.log("Error in async", error);
            });
        }


      });

</script>
{% endblock %}