.dash_container{
    display:flex;
    flex-direction: row;
    position: relative;
    column-gap: 332px;
    margin-left: 386px;
    
}
.dash_col_one{
    display:flex;
    flex-direction: column;
}
.dash_col_two{
    display:flex;
    flex-direction: column;
}
.intro_dash{
    color: var(--blue_one);
font-family: Myanmar Khyay;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}