:root {
    --blue_one: #153243;
    --blue_two: #153243;
    --secondary_shade: #EEF0EB;
    --grey:#EEF0EB;

}

@font-face {
    font-family: 'myanmar-khyay-regular', sans-serif;
    src: url('../fonts/Khay\-Regular.ttf');
    /*URL to font*/
}

body {
    overflow-x: hidden;
}