{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}"/>
{% endblock %}
{% block content %}
  <div class="reg_container">
    <img src="{{url_for('static',filename='images/arm.png')}}" alt="arm" class="reg_img_one">
    <form class="reg_box" method="POST" action="">
      {{ form.hidden_tag() }}
        <p class="reg_top">Register</p>
        {{ form.name( id='inputs', class="reg_input", type = "name", placeholder="Enter Name")}} 
        {{ form.email( id='inputs',class="reg_input", type = "email", placeholder="Enter Email")}} 
        {{ form.password( id='inputs',class="reg_input", type = "password", placeholder="Enter Password" )}} 
        {{ form.confirmPassword( id='inputs',class="reg_input", type = "password", placeholder="Confirm Password")}} 
        {{ form.submit(id='inputs', class="register_btn", onclick="goToLogin()") }}
        <button id='inputs' class="login_btn" onclick="goToLogin()">login</button>

    </form>
    <img src="{{url_for('static',filename='images/search.png')}}" alt="search" class="reg_img_two">
  </div>
{% endblock %}
